[Unit]
Description=uWSGI instance to serve PASTA RIDARE services
After=network.target

[Service]
User=pasta
Group=www-data
WorkingDirectory=/home/pasta/ridare
Environment="PATH=/home/pasta/anaconda3/envs/ridare/bin"
ExecStart=/home/pasta/anaconda3/envs/ridare/bin/uwsgi --ini deployment/ridare.ini

[Install]
WantedBy=multi-user.target
