server {
    listen 80;
    server_name ridare.edirepository.org;

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_pass http://unix:/tmp/ridare.sock;
    }

    listen 443 ssl; # managed by Certbot
        ssl_certificate /etc/letsencrypt/live/bill.edirepository.org/fullchain.pem; # managed by Certbot
        ssl_certificate_key /etc/letsencrypt/live/bill.edirepository.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot
}
